<div id="fh5co-about">
		<div class="container">
			<div class="about-content">
				<div class="row animate-box">
					<div class="col-md-6 col-md-push-6">
						<div class="desc">
							<h3>Histoire</h3>
							<p>Ce projet a ete inventee par fenositraka pendant sa formation en sayna; qui a pour but, non lucrative, de vous montrer et de vous accompaigner pentant votre voyage a madagascar.</p> 
							<p>C'est un projet encore en developpement alors veuillez nous informer de ce qui ne vous a pas plus, on prendra soin de lire vos notificaton et de remedier a des petites problemes</p>
						</div>
					</div>
					<div class="col-md-6 col-md-pull-6">
						<img class="img-responsive" src="images/img_bg_1.jpg" alt="about">
					</div>
					
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<span>Productive Staff</span>
					<h2>Meet Our Staff</h2>
					<p>Notre equipes solid, les chevalier  de zodiaques </p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
					<div class="fh5co-staff">
						<img src="images/n1.jpg" alt="Free HTML5 Templates by FreeHTML5.co">
						<h3>Luc</h3>
						<strong class="role">Web Designer</strong>
						<p>Notre desinner en or, le creme de la creme, le meilleur quoi.</p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
							<li><a href="#"><i class="icon-github"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
					<div class="fh5co-staff">
						<img src="images/n2.jpg" alt="Free HTML5 Templates by FreeHTML5.co">
						<h3>akartis</h3>
						<strong class="role">Front-end Developer</strong>
						<p>Il s'est occupee du front, c'est le maitre en ce domaine.</p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
							<li><a href="#"><i class="icon-github"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
					<div class="fh5co-staff">
						<img src="images/n3.jpg" alt="Free HTML5 Templates by FreeHTML5.co">
						<h3>Fenos</h3>
						<strong class="role">Back-end Developer</strong>
						<p>mise en place de touts les back du site, les base de donnee et les liens</p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
							<li><a href="#"><i class="icon-github"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>