<div id="fh5co-blog" class="fh5co-bg-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="#"><img class="img-responsive" src="images/work-4.jpg" alt=""></a>
						<div class="blog-text">
							<h3><a href=""#>Tana le capitale</a></h3>
							<span class="posted_on">Nov. 15th</span>
							<span class="comment"><a href="">12<i class="icon-speech-bubble"></i></a></span>
							<p>Le capitale de madagascar, le centre le l'empire malagasy avec ses endroits cultes et memorials.</p>
							<a href="#" class="btn btn-primary">Voir plus</a>
						</div> 
					</div>
				</div>
				<div class="col-lg-6 col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="#"><img class="img-responsive" src="images/work-2.jpg" alt=""></a>
						<div class="blog-text">
							<h3><a href=""#>Les differents parks nationales</a></h3>
							<span class="posted_on">Jul. 03th</span>
							<span class="comment"><a href="">04<i class="icon-speech-bubble"></i></a></span>
							<p>Les parks avec ses animaux partagee, et les vues a coupee le souffles; surtout au couchee du soleil.</p>
							<a href="#" class="btn btn-primary">Voir plus</a>
						</div> 
					</div>
				</div>
				<div class="col-lg-6 col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="#"><img class="img-responsive" src="images/work-1.jpg" alt=""></a>
						<div class="blog-text">
							<h3><a href=""#>Ranomafana</a></h3>
							<span class="posted_on">Sep. 26th</span>
							<span class="comment"><a href="">20<i class="icon-speech-bubble"></i></a></span>
							<p>L'eau chaud bouillant, naturel, de proffondeur; Les differents arts artiasanaux les unes plus manifiques que les autres.</p>
							<a href="#" class="btn btn-primary">Voir plus</a>
						</div> 
					</div>
				</div>
				<div class="col-lg-6 col-md-4">
					<div class="fh5co-blog animate-box">
						<a href="#"><img class="img-responsive" src="images/work-6.jpg" alt=""></a>
						<div class="blog-text">
							<h3><a href=""#>Mahajanga</a></h3>
							<span class="posted_on">Avr. 01th</span>
							<span class="comment"><a href="">31<i class="icon-speech-bubble"></i></a></span>
							<p>Le ville de touriste tellement c'est magnifique et plein d'artisant; Les traditions locaux, la plage,  et l'art culinaires.</p>
							<a href="#" class="btn btn-primary">Voir plus</a>
						</div> 
					</div>
				</div>
			</div>
		</div>
	</div>